<main class="d-flex justify-content-around">
  <div *ngFor="let ques of questions">
    <div class="card" style="width: 18rem;" [appChangeClass]="ques.status">
      <div class="card-body">
        <p class="card-text">{{ ques.ques }}</p>
        <app-answer [question]="ques"></app-answer>
        <button type="button" class="btn btn-primary mt-2" (click)="showPrompt()">Показать подсказкку</button>
        <div *ngIf="show">{{ ques.prompt }}</div>
      </div>
    </div>

  </div>
</main>
<span>Total correct answers {{ getCheck() }}</span>


